<section class="content bgcolor-1">
  <h2 class="nomargin-bottom">Haruki</h2>
  <SmartInput @label="First Name" @style="haruki" />
  <SmartInput @label="Last Name" @style="haruki" />
  <SmartInput @label="Email" @style="haruki" />
</section>
<section class="content">
	<h2>Hoshi</h2>
  <SmartInput @label="Name" @style="hoshi" @labelColor="color-1" />
  <SmartInput @label="Street" @style="hoshi" @labelColor="color-2" />
  <SmartInput @label="Town" @style="hoshi" @labelColor="color-3" />
	<p>Inspired by Andrej Radisic's <a href="https://dribbble.com/shots/1785176-Jawbreaker-input-field">Jawbreaker input field</a></p>
</section>
<section class="content bgcolor-4">
	<h2>Kuro</h2>
  <SmartInput @label="Username" @style="kuro" />
  <SmartInput @label="Website" @style="kuro" />
  <SmartInput @label="Invitation Code" @style="kuro" />
</section>
<section class="content bgcolor-7">
	<h2>Jiro</h2>
  <SmartInput @label="Cat's name" @style="jiro" />
  <SmartInput @label="Dog's name" @style="jiro" />
  <SmartInput @label="Hamster's name" @style="jiro" />
</section>
<section class="content">
	<h2>Minoru</h2>
  <SmartInput @label="First Name" @style="minoru" />
  <SmartInput @label="Middle Name" @style="minoru" />
  <SmartInput @label="Last Name" @style="minoru" />
</section>
<section class="content bgcolor-5">
	<h2>Yoko</h2>
  <SmartInput @label="Street" @style="yoko" />
  <SmartInput @label="City" @style="yoko" />
  <SmartInput @label="Region" @style="yoko" />
</section>
<section class="content">
	<h2>Hideo</h2>
  <SmartInput @label="Username" @style="hideo" />
  <SmartInput @label="Email" @style="hideo" />
  <SmartInput @label="Password" @style="hideo" />
</section>
<section class="content bgcolor-3">
	<h2>Kyo</h2>
  <SmartInput @label="What's your email?" @style="kyo" />
</section>
<section class="content bgcolor-4">
	<h2>Akira</h2>
  <SmartInput @label="First Name" @style="akira" />
  <SmartInput @label="Last Name" @style="akira" />
  <SmartInput @label="Maiden Name" @style="akira" />
</section>
<section class="content">
	<h2>Ichiro</h2>
  <SmartInput @label="Bird's Color" @style="ichiro" />
  <SmartInput @label="Wing Span" @style="ichiro" />
  <SmartInput @label="Break Length" @style="ichiro" />
</section>
<section class="content bgcolor-6">
	<h2>Juro</h2>
  <SmartInput @label="First Name" @style="juro" />
  <SmartInput @label="Last Name" @style="juro" />
  <SmartInput @label="Maiden Name" @style="juro" />
</section>
<section class="content bgcolor-4">
	<h2>Madoka</h2>
  <SmartInput @label="Frequency" @style="madoka" />
  <SmartInput @label="Weight" @style="madoka" />
  <SmartInput @label="Strength" @style="madoka" />
</section>
<section class="content">
	<h2>Kaede</h2>
  <SmartInput @label="First Name" @style="kaede" />
  <SmartInput @label="Last Name" @style="kaede" />
  <SmartInput @label="Website" @style="kaede" />
</section>
<section class="content bgcolor-8">
	<h2>Isao</h2>
  <SmartInput @label="First Name" @style="isao" />
  <SmartInput @label="Middle Name" @style="isao" />
  <SmartInput @label="Last Name" @style="isao" />
</section>
