<section class="content bgcolor-3">
	<h2>Manami</h2>
  <SmartInput @label="Username" @style="manami" />
  <SmartInput @label="Website" @style="manami" />
  <SmartInput @label="Invitation Code" @style="manami" />
</section>
<section class="content bgcolor-7">
	<h2>Nariko</h2>
  <SmartInput @label="First Name" @style="nariko" />
  <SmartInput @label="Middle Name" @style="nariko" />
  <SmartInput @label="Last Name" @style="nariko" />
</section>
<section class="content bgcolor-1">
	<h2>Nao</h2>
  <SmartInput @label="Street" @style="nao" />
  <SmartInput @label="City" @style="nao" />
  <SmartInput @label="Region" @style="nao" />
</section>
<section class="content">
	<h2>Yoshiko</h2>
  <SmartInput @label="Bird's Color" @style="yoshiko" />
  <SmartInput @label="Wing Span" @style="yoshiko" />
  <SmartInput @label="Beak Length" @style="yoshiko" />
</section>
<section class="content bgcolor-10">
	<h2>Shoko</h2>
  <SmartInput @label="Player Name" @style="shoko" />
  <SmartInput @label="Village" @style="shoko" />
  <SmartInput @label="World" @style="shoko" />
</section>
<section class="content bgcolor-4">
	<h2>Chisato</h2>
  <SmartInput @label="First Name" @style="chisato" />
  <SmartInput @label="Last Name" @style="chisato" />
  <SmartInput @label="Middle Name" @style="chisato" />
</section>
<section class="content bgcolor-3">
	<h2>Makiko</h2>
  <SmartInput @label="Search" @style="makiko" />
</section>
<section class="content bgcolor-9">
	<h2>Sae</h2>
  <SmartInput @label="Email Address" @style="sae" />
  <SmartInput @label="Invitation Code" @style="sae" />
  <SmartInput @label="Full Name" @style="sae" />
</section>
<section class="content bgcolor-4">
	<h2>Kozakura</h2>
  <SmartInput @label="Name" @style="kozakura" />
  <SmartInput @label="Email" @style="kozakura" />
  <SmartInput @label="Website" @style="kozakura" />
</section>
<section class="content bgcolor-1">
	<h2>Fumi</h2>
  <SmartInput @label="Course Name" @style="fumi" />
  <SmartInput @label="Degree" @style="fumi" />
  <SmartInput @label="Work Place" @style="fumi" />
</section>
<section class="content bgcolor-4">
	<h2>Ruri</h2>
  <SmartInput @label="Username" @style="ruri" />
  <SmartInput @label="Website" @style="ruri" />
  <SmartInput @label="Invitation Code" @style="ruri" />
</section>
<section class="content bgcolor-3">
	<h2>Kohana</h2>
  <SmartInput @label="Time" @style="kohana" />
  <SmartInput @label="Line" @style="kohana" />
  <SmartInput @label="Phone" @style="kohana" />
</section>
